
.faded {
    opacity: 0;
}

.axis path,
.axis line
{
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

.axis text
{
    fill: grey;
    stroke: none;
    shape-rendering: crispEdges;
}


text {
    font-size: 14px;
    stroke: none;
    font-family: 'Lato', sans-serif;
}

* {
    font-family: 'Lato', sans-serif;
}