/* CSS declarations go here */

.admin-form {
    border: 1px solid black;
}

.admin-form th, .admin-form td  {
    padding: 10px;
    border: 1px solid black;
}

.autoform-remove-item, .autoform-add-item {
    display: none;
}

#insertVoterForm ul.list-group {
    display: flex;
}

.updateVoterForm ul.list-group {
    display: flex;
}

.footer {
    padding-top: 50px;
    padding-bottom: 20px;
}

.task-desc {
    font-size: medium;
}
